@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
section{
    position:relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background: #01042c;
    background-image: url(./img/fundo.png);
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000020;
    clip-path: circle(50% at bottom right);
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    padding: 40px 100px;
    background-color: #000020;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo{
    position: relative;
    max-width: 150px;
}
header .navegation ul{
    position: relative;
    display: flex;
}
header .navegation li{
    list-style: none;
}
header .navegation li a{
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 19px;
    margin-left: 100px;
}
.container{ 
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container .text{ 
    position: relative;
    max-width: 600px;
    margin-right: 40px;
}
.container .text h2{
    color: #ffffff;
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 2.5em;
    font-weight: 700;
}
.imagens{
    position: absolute;
    right: 150px;
    bottom: 100px;
}
.imagens img{
    width: 400px;
}
.imagens .img1{
    transform: rotate(-10deg);
}